html {
  height: 100%;
}

body {
  height: 100%; margin: 0; padding: 0;
}

#map-canvas {
  height: 100%;
}

.encode {
  width: 100%;
  position: absolute;
  top: 0px;
}

.encode input {
  width: 15%;
  max-width: 200px;
}